@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type="range"]{
  appearance: none;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track{
  @apply bg-gray-300 rounded-full;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply rounded-full h-[12px] w-[12px] bg-accent
} */

input[type="number"]{
  appearance: none;
  -webkit-appearance: none;
}
